<!-- <p>The Server Component</p> -->

<h3>Server Information</h3>
<hr>
<!-- <div class="hello">
  <p><span>READ </span>Brisket kevin tri-tip sausage cupim spare ribs burgdoggen corned beef pork chop shankle beef. Filet mignon prosciutto rump 
  sirloin salami shoulder beef ribs tongue leberkas cow. Beef ribs ham hamburger sirloin, shank meatloaf fatback <span>j;aldjf</span> jerky pig rump. 
  Short loin meatball tongue pork, <span>jfda</span> ham alcatra biltong frankfurter ham hock hamburger turducken beef shankle fatback. Pork chuck 
  landjaeger leberkas meatball. Doner burgdoggen kielbasa, brisket <span>READ AGAIN</span> beef ribs ribeye pork belly strip steak capicola short ribs turkey 
  tenderloin. Shankle tongue porchetta shoulder.</p>
</div> -->
<p> {{ 'Server' }} with ID {{ serverId }} is {{ getServerStatus() }}</p>