/* You can add global styles to this file, and also import other style files */
body {
    background: #2e2b2e;
    color: white;
}

.container {
    width: 700px;
}

h1, h3 {
    color: #66ff00;
}

button {
    background-color: #66ff00;
    border-radius: 3px;
    color: #2e2b2e;
    border-style: none;
    width: 200px;
    display: block;
    margin: 20px auto;
    padding: 5px;
    &:hover {
        background-color: #fff;
        color: #2e2b2e;
    }
}

input {
    color: #2e2b2e;
}